
 {{#if user}}

  <a href="/auth/signout" class="signOut">Sign Out</a>

  {{/if}}
  <div id="bodyContainer">



    {{#if user}}
    <div class="row one">
      <div class="column oneA">
        <div id="greeting">
          <h1><b>HELLO,</b></h1>
          <h3 name="userName"> {{ user.displayName }} </h3>
        </div>
      </div>

     



      <nav class="oneC navbar navbar-expand-lg navbar-light">

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul id="navlist" class="navbar-nav ml-auto">
            {{#if active.appointments}}
            <a class="nav-item nav-link" href="/" alt="home">
            <span class="menu-label">Home</span>
              <div class="square">
                <li id="home-app"></li>
              </div>
            </a>
            {{else}}
            <a class="nav-item nav-link" href="/appointments" alt="Appointments">
            <span class="menu-label">Appointments</span>
              <div class="square">
                <li id="appointments"></li>
              </div>
            </a>
            {{/if}}
            {{#if active.calendar}}
            <a class="nav-item nav-link" href="/" alt="home">
            <span class="menu-label">Home</span>
              <div class="square">
                <li id="home-cal"></li>
              </div>
            </a>
            {{else}}
            <a class="nav-item nav-link" href="/calendar" alt="calendar">
            <span class="menu-label">Calendar</span>
              <div class="square">
                <li id="calendar"></li>
              </div>
            </a>
            {{/if}}

            {{#if active.notes}}
            <a class="nav-item nav-link" href="/" alt="home">
            <span class="menu-label">Home</span>
              <div class="square">
                <li id="home-note"></li>
              </div>
            </a>
            {{else}}
            <a class="nav-item nav-link" href="" alt="Notes" disabled>
            <span class="menu-label">Notes</span>
              <div class="square">
                <li id="notes"></li>
              </div>
            </a>
            {{/if}}
          </ul>
        </div>
      </nav>




    </div>

    {{/if}}

