<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
Operation Water-Strider: Appointments
</title>
<link rel="stylesheet" href="/assets/waterstrider.css">
<script src="/assets/waterstrider.js"></script>
</head>
<body>



	<div id="bodyContainer">
	
	<div class="row one">
		<div class="column oneA">
			<p id="greeting">
				<h1>
					<b>HELLO,</b>
				</h1>
				<h3><%= name %></h3>
			</p>
		</div>
		
		<div class="column oneB">
			<p>
				<br>
				<br>
				<br>
			</p>
		</div>
		
			<div class="column oneC">
				<ul id="navlist">
					<a href="./appointments"  alt="Appointments"><div class="square"><li id="appointments"></li></div></a>
					<a href="./"  alt="home"><div class="square"><li id="home"></li></div></a>
					<a href="./notes" alt="Notes"><div class="square"><li id="notes"></li></div></a>
				</ul>
			</div>
	</div>
	
	<div class="row two">
		<div class="column twoA">
		
		</div>
		
		<div class="column twoB">
		
		</div>
		
		<div class="column twoC">
			
		</div>
		
	</div>

		<div class="row three">
			<div class="column threeA">
				
			</div>
			
			<div class="column threeB">
				
			</div>
		
			
			<div class="column threeC">
				
			</div>
		
	</div>
	</div>

<div id="backgroundCurve"></div>
</body>
</html>
