     {{!-- Licensed under the MIT License.  --}}

<!-- <IndexSnippet> -->
  {{#if user}}
    
	
	<div class="row two">
		<div class="column twoA">
			<div id="boxContainer">
				<div class="box1"></div>
				<div class="box2"></div>
			</div>
			<div id="toolBox">
				<h2>Galway</h2>
				<h4>45 William St</h4>
			</div>
				<div id="toolBox2">
				<div class="column longB1"></div>
				<div class="column shortB2"></div>
				<div class="column shortB3"></div>
				<div class="column shortB4"></div>
			</div>
			
		</div>
		
		
		<div class="column twoB">
				<div class="totalsL">Fat Duckets Made:</div>
				<div id="totals">$0.00</div>
				<div class="graphContainer1"></div>
					<canvas id="graph1" width="1055px" height="675px"> </canvas>
					<p>Mon</p><p>Tue</p><p>Wed</p><p>Thurs</p><p>Fri</p><p>Sat</p><p>Sun</p>
		</div>
		
		<div class="column twoC">
				<div id="graphNav" class="graphNav" onload="runClock()" >
					<button class="hourPre" > </button>
					<p id="dayTime">FRIDAY<br>13:00</p>
					<button class="hourNxt" ></button>
				</div>
					<canvas id="graph2" width="1055px" height="675px"> </canvas>
				
					
				
				
		</div>
		
	</div>

		<div class="row three">
			<div class="column threeA">
				<div id="info1"> 
					<div class="flag"><div class="spriteF"></div></div>
					<div class="heading"><b>This week.</b><h3>XX Appointment's</h3></div>
					<div class="blurb">Do you see any Teletubbies in here? Do you see
					a slender plastic tag clipped to my shirt with my name printed on it?
					Do you see a little Asian child with a blank expression on his face 
					sitting outside on a mechanical helicopter that shakes when you put 
					quarters in it? No? Well, that's what you see at a toy store. And you
					must think you're in a toy store, because you're here shopping for an
					infant named Jeb.</div>
				</div>
			</div>
			
			<div class="column threeB">
				<div id="info2"> 
					<div class="flag"><div class="spriteF"></div></div>
					<div class="heading"><b>This week.</b><h3>XX Appointment's</h3></div>
					<div class="blurb">
					Do you see a little Asian child with a blank expression on his face 
					sitting outside on a mechanical helicopter that shakes when you put 
					quarters in it? No? Well, that's what you see at a toy store. And you
					must think you're in a toy store, because you're here shopping for an
					infant named Jeb.</div>
					</div>
				</div>
		
			
			<div class="column threeC">
				<div class="boxContainerLR">
				<div class="box2C">
						<div class="bannerBox"><div class="spriteFs"></div></div>
						<p id="textB4">Your bones don't break, mine do. That's clear. Your cells react 
						to bacteria and viruses differently than mine. You don't get sick, 
						I do. That's also clear. But for some reason, you and I react the
						exact same way to water.bacteria and viruses differently than mine. You don't get sick, 
						I do. That's also clear. But for some reason, you and I react the
						exact same way to water.</p>
					</div>
					
					<div class="box1C">
						<div class="spriteFs"></div>
						<p id="textB3">Well, that's what you see at a toy store. And you
						must think you're in a toy store, because you're here shopping for an
						infant named Jeb.</p>
					</div>
					
				</div>
			</div>
		
	</div>
	</div>
  {{else}}
 
      <img src="tjwgHead.png" width="150px" height="150px">
              <div id="loginCon">
                   <h1>Operation Water Strider</h1>
                    <p class="lead">Please sign in with your microsoft account.</p>
                <form action="/login" method="POST">
                    <a href="/auth/signin" class="login">Sign In</a>
                </form>
              </div>
  {{/if}}
</div>
