<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
Operation Water-Strider : Notes
</title>
<link rel="stylesheet" href="/assets/waterstrider.css">
<script src="/assets/waterstrider.js"></script>
</head>
<body>



	<div id="bodyContainer">
    <img src="./images/tjwgHead.png" width="150px" height="150px">
    <div id="loginCon">
      <h1>Login</h1>
         <% if (messages.error) { %>
           <%= messages.error %>
            <% } %>
       <form action="/login" method="POST">
          <div>
           <label for="email">Email</label>
           <input type="email" id="email" name="email" required value="w@w">
          </div>
          <div>
           <label for="password">Password</label>
            <input type="password" id="password" name="password" required value="w">
        </div>
        <button type="submit">Login</button> <a href="/register">Register</a>
       </form>
        
  </div>
	</div>

<div id="backgroundCurve"></div>
</body>
</html>
