<script>
    
</script>
<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<div class="row two notesTwo">
    <div class="column twoA notesView">

        <h1>Notes.</h1>
        <form action="./notes/getNote" method="post">
            <textarea name="note" id="note"></textarea>
            
             <button class="btn btn-primary"type="submit">Save</button>
             <a href ='/' class="btn btn-secondary" >Cancel</a>
        </form>

    </div>
    <div class="column twoC notesAtt">
        <p id="">Attributes</p>

    </div>

</div>

<div class="row three notesThree">
    <div class="column threeA">

    </div>

    <div class="column threeB">

    </div>


    <div class="column threeC">

    </div>

</div>
</div>