html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}

body{
background-color:#D9D9D9;
background:linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(217,217,217,1) 56%, rgba(255,255,255,1) 100%);
font-family:helvetica;
height:100%;
margin:0;


}

#logout{
float:right;
margin-right:2vw;
font-size: 1.2vw;
border:0px;
padding:1vw;
border-radius:5px;
position:relative;
top:0;

}
#logout:hover{
background:black;
color:white;
}

#bodyContainer{
width: inherit;
margin:14vh 9vw 14vh 9vw;
background-color:rgba(255,255,255,.65);
border-radius: 40px;
box-shadow:5px 10px 18px #00000086;

backdrop-filter: blur(5px);
}

#backgroundCurve{
background-image:url('../images/owsBack72.png');
  background-size: cover;	
background-position-x: right;
width: 100%;
  height: 100vh;
  position:absolute;
  bottom:0;
  right:0;
  z-index: -1;
}

.column{
float: left;
}
.row:after {
content: "";
display: table;
clear: both;
}


#siteMain{
  margin:0;
  padding:0;
}

/* ----------------------ROW ONE START---------------------*/

.one{

padding:0 4vw 0 4vw;
}
.oneA, .oneC{
width: 50%;
height:100%;
}


.navlist ul{
float:right;	
}



.menu-label{
  display: none;
}

.oneA h1{
font-size: 1.75rem;
letter-spacing:.8vw;
margin:0;
font-family: helvetica;
}
.oneA h3{
font-size: 1rem;
letter-spacing: .3vw;
margin: 0;
font-family: helvetica;
}

#navlist li{
  height: 4.2vw;
list-style:none;
background-repeat: no-repeat
}

#appointments,#calendar, #notes,#home-app, #home-cal, #home-note{
width: 4.2vw;
background-repeat:no-repeat;

}

#appointments {
left: 0px;
background: url('../images/ows-sprite72.png') 0vw 0vw;
background-size: 68vw 40vw;
}

#calendar {
background: url('../images/ows-sprite72.png') -4.2vw 0;
background-size: 67vw 40vw;
}

#home-cal, #home-app, #home-note {
background: url('../images/ows-sprite72.png') -0vw -8.6vw; 
background-size: 68vw 40vw;
}

#notes {
background: url('../images/ows-sprite72.png') -8.3vw 0;
background-size: 68vw 40vw;
}

#navlist a .square li:hover{
filter: brightness(0) invert(1);
}

.square{
float:right;
margin-left:20px;
position:relative;
width:4.2vw;
height:4.2vw;
border-radius:10px;
background-color:rgba(0, 0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
}
.square:hover{
background-color:black;
}
/* Temporary style to disable Notes link */
.square #notes{
  filter: brightness(0) invert(0);
  filter:  grayscale(90%);
}

/* ----------------------ROW ONE END-----------------------*/

/* ----------------------ROW TWO START---------------------*/


.two{
height:23vw;
padding:0 4vw 0 4vw;
}

.twoA{
width:33.33%;
height:100%;
}

#boxContainer{
width:100%;
height:50%;
}

div.box1, div.box2{
width:10.5vw;
height:10.5vw;
border-radius:2vw;
background-color:#B20A21;
float:left;
}
.box1, .box2{
margin:0 1vw 1vw 0;
}


div.longB1{
top: -135%;
  position: relative;
  width: 4.25vw;
  height: 11.5vw;
  margin-right: 1.5vw;
  border-radius: 1vw;
  background-color: #000;

}

div.shortB2, div.shortB3, div.shortB4{
width: 4.75vw;
  height: 4.75vw;
  margin-right: 1vw;
  border-radius: 1vw;
  background-color: #B20A21;
}
#toolBox{

  
  height: 29%;
  margin:0 2vw 0 6vw!Important;
}
#toolBox2{

  width:100%;
  height: 21%;

}

#toolBox.column{
float:left;
}

#toolBox p{
margin-bottom:0;
margin-top:0;
}
#toolBox h2{
font-size:2vw;
letter-spacing:10px;




}
div#toolBox h6{
font-size: .8vw;
	
letter-spacing:10px;

}

.box1 ,.box2{
  background-image: url('../images/ows-sprite72.png');
  background-position: -28.6vw -17.4vw;
  background-size: 155vw 85vw;
  transform:scale(1);
}

#box1Text{
  color:white;
  font-size:1vw;
  padding:  0 10px 0 28px;
  width:100%;
}

.longB1 {
  background-image: url('../images/ows-sprite72.png');
  background-position:-22.2vw 0.7vw;
  background-size: 60vw 30vw;
  transform:scale(1);
}
.shortB2 {
  background-image: url('../images/ows-sprite72.png');
  background-position: -8.5vw -8.8vw;
  background-size: 70vw 42vw;
  transform:scale(1);
}

.shortB3 {
  background-image: url('../images/ows-sprite72.png');
  background-position: -16.4vw -6.7vw;
  background-size: 67vw 34vw;
  transform:scale(1);
}

.shortB4 {
  background-image: url('../images/ows-sprite72.png');
  background-position: -16.4vw -6.7vw;
  background-size: 67vw 34vw;
  transform:scale(1);
}



.twoB{
width:33.33%;
height:100%;
padding-top:5.5vw;
}

.totalsL{

margin: 0 1.5vw 0 1.5vw;
font-size: 1vw;
  font-weight: bold;
  letter-spacing: .5vw;
  color: #000;
}

#totals{
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: .5vw;
  color: #B20A21;
  margin:0;
}

.graphContainer1{
width:100%;
height:calc(100% - 7.5vw);
}

#graph1{
width:100%;
height:100%;

}
#graph1:hover{
  background-color: rgba(102, 102, 102, 0.445);
  border-radius:1vw;
}

#dayLabels {
  text-align: center;
  color: #999;
  font-weight: bold;
  height: 1.5vw;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5vw 0 1.5vw;
  vertical-align: bottom;
}







.twoC.graph2{
width:calc(33.33% - 3vw);
height:100%;

margin: 0 1.5vw 0 1.5vw;
padding-top: 5.5vw;
}

#graphNav{
  display: flex;
  justify-content: space-between;
  width:100%;
  height:4.5vw;
}

.hourPre,.hourNxt{
width: 19%;
height: 100%;
border: none;
color: white;
background-color:rgba(255,255,255,0);
text-align: center;
text-decoration: none;

font-size: 16px;
padding:0;
}
.hourPre{
background-image: url('../images/ows-sprite72.png');
background-position:-0.3vw -46.4vw;
background-size: 67vw 42vw;
transform:scale(1);
}

#dayTime{
height:100%;
width:60%;
text-align: center;

margin:0;
font-size:1.6vw;
font-weight:bold;
letter-spacing:.5vw;
}
.hourNxt{
background: url('../images/ows-sprite72.png');
background-position:-4vw -46.4vw;
background-size: 67vw 42vw;
}

#graph2{

width:100%;
height:calc(100% - 4.5vw);
}
#graph2:hover{
  background-color: rgba(102, 102, 102, 0.445);
  border-radius:1vw;
}

/* ----------------------ROW TWO END-----------------------*/

/* ----------------------ROW THREE START-------------------*/


.three{
height: 100%;
  padding: 0 0vw 4vw 4vw;
}

#info1{
box-sizing: content-box;

height:auto;
margin-bottom:15px;

}
#info2{
box-sizing: content-box;

height:auto;
margin-bottom:15px;

}


#info1, #info2{
  height:8.7vw;
}

div#info1:hover{
background-color:rgba(150,150,150,.4);
border-radius: 10px;

}

div#info2:hover{
background-color:rgba(150,150,150,.4);
border-radius: 10px;

}

.threeA, .threeB, .threeC{
width:33.33%;
height:100%;
margin-top:35px;
}

.threeA, .threeB{
  padding-right:1.5vw;
  
}

.flag {
left: 0px;
height:3vw;
width: 3vw;
border-radius:.8vw;
background-color:rgba(178,10,33,1);
display: flex;
justify-content: center;
align-items: center;

}
.spriteF{
width: 1.4vw;
  height: 1.7vw;
background: url('../images/ows-sprite72.png') -224.5vw -1.3vw;
  background-size: 70vw 41vw;
}

.heading{
  margin-bottom:8px;
}

div.heading{
height:2px;
position:relative;
top:-3vw;
margin-left:4vw;

}


div.blurb{
margin:0 0px 0 4vw;
height:4.8vw;
overflow-y:scroll;
font-size:1vw;
}

/* Hide webkit-scrollbar */
div.blurb::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.div.blurb{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


div.column.threeA, div.column.threeB{
float:left;
}

div.threeC{
width:33.33%;
height:100%;
float:right;
}

.boxContainerLR{

float:right;
width:100%;

}

.box1C,.box2C{
float:right;
color:white;
font-size:.8vw;
overflow:hidden;
}

div.box1C{
width: 8.7vw;
height:8.7vw;
float:left;
margin-right:8%;
border-radius:10px;
background-color:rgba(178,10,33,1);
background-repeat:no-repeat;
}

div.box2C{
background-color:#000;
width: 14.5vw;
height:8.7vw;
border-radius: 10px 0 0 10px ;
}

#textB3{
  margin:0vw 1vw 0 1vw;
overflow-y: scroll;
height:46%;
}
/* Hide webkit-scrollbar */
#textB3::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#textB3{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div.bannerBox{
background-color: rgba(178,10,33,1);
width:13vw;
height:1.6vw;
margin: 1.2vw 0vw 0vw 2vw;
border-radius: 5px 0 0 5px;
float:right;

}
.spriteFs{
width: 1.4vw;
  height: 1.7vw;
  background: url('../images/ows-sprite72.png') -228.9vw -1.3vw;
  background-size: 70vw 41vw;
}
.box1C div.spriteFs{
margin:.8vw;
}

#textB4{
  height:50%;
  display:inline-block;
  overflow-y: scroll;
  margin:.5vw 2vw 0 2.2vw;
}
/* Hide webkit-scrollbar */
#textB4::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#textB4{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Login & Register-----------------------------------------------------*/


#loginCon{
height:59vh;
text-align:right;
box-sizing: content-box;
padding:5vw 8vw 5vh 8vw;
}

#siteLogo{
margin:5% 5%;
float:left;
width:15vw;
height:15vw;
}

#loginCon h1{
text-align:right;
width:100%;
font-weight: bold;
font-size: 3.5vw;
letter-spacing: 1vw;
padding-left: 60%;
}

#loginCon input{
margin-bottom:20px;
width:100%;
display: block;
}

#loginCon .login{
padding:1vw 3vw;
background-color:#8C0A21;
border:none;
border-radius:1vw;
text-decoration: none;
color:white;
font-size:1.5vw;
}

.infoReq{
  padding-left: 70%;
  font-size: 1.5vw;
}

#loginCon a, #regCon a{
padding-top:5px;
float:right;
color:black;
}

.signOut{
  float:right;
  padding:1vw 1.75vw;
  background-color:#B20A21;
  color:white;
  border-radius: 1vw 0 0 1vw;
  text-decoration: none;
  position:relative;
  top:-60px;
  box-shadow:3px 5px 14px #00000086;
}
.signOut:hover{
  background-color:black;
}

/*Schedule-----------------------------------------------------*/

.calendarTwo{
  height:40vw;
}
.calendarView{
width:66.66%;

}
.yearMonth{
  font-size:18px;
}

ul {list-style-type: none;}


/* Month header */
.month {
padding: 10px 0;
width: 100%;
box-sizing: content-box;
background: #B20A21;
text-align: center;
border-radius:1vw;
height:50px;
color:white;
}

/* Month list */
.month ul {
margin: 0;
padding: 0;
}

.month ul li {

font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
float: left;
padding-top: 10px;
margin-left:25px;
}

/* Next button */
.month .next {
float: right;
padding-top: 10px;
margin-right:25px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
margin: 0;
padding: 10px 0;
}

.weekdays li {
display: inline-block;
width: 13.5%;
color: #666;
text-align: center;
}

/* Days (1-31) */
.days {
padding: 10px 0;
margin: 0;
}

.days li {
list-style-type: none;
display: inline-block;
width: 14.2%;
height:4vw;
padding: 5px 0;
text-align: center;
margin-bottom: 5px;
font-size:12px;
color: #777;
}

.dateB:hover{
background-color:black;
color:white;
border-radius:1vw;
}

/* Highlight the "current" day */
li.active {

background: #B20A21;
color: white !important;
border-radius:1vw;
}

.twoC.todayView{
  width: calc(33.33% - 20px);
  margin-left: 20px;
  height: 100%;
  box-sizing: content-box;
}

#todayLabel{
padding: 20px 0;
width: 90%;
margin:0;
box-sizing: content-box;
background: #B20A21;
text-align: center;
border-radius:1vw;
color:white;
height:30px;
font-size: 30px;

}

#todayList{
  overflow-y: scroll;
  padding-top:10px;
  height:calc(100% - 80px);
  list-style: none;
  margin-right:20px;
}

#todayList ul{
  padding-left:0px;
  margin-bottom:0px;
}

#todayList div{
  font-size: 15px;
  padding-bottom:10px;

}

.more{
  padding: 3px 12px 3px 12px;
}

.btn.more:focus{
  box-shadow: none;
}

.moreEles{
  background-color: rgba(50,50,50,.5);
  border-radius: 15px;
  padding:10px 0 10px 15px!Important;
  color:white;
}
.moreEles a{
  color:black;
}


::-webkit-scrollbar  {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(138, 138, 138, 0.5); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(83, 83, 83, 0.5); 
}


/* --------------------------------- Notes -------------------------------*/
textarea {
  max-width: 100%;
  max-height:100%;

}
.row.two.notesTwo{
  height:auto;
  max-height:100%;
}

.notesView{
  width:66.66% !Important;
  
  }

.notesAtt{
  max-width:33.33%;
  padding: 0 10px;
 
}

#note{
  width:100%;
  height:100%;
  border:3px solid #999;
  border-radius:1vw;
  font-size: 28px;
  margin-bottom:15px;
}
#note:focus{
  outline: -webkit-focus-ring-color auto 0px;
}


#tools {
  display: inline-block;
  vertical-align: bottom;
  height: 48px;
}

div#timerContainer {
  border: 3px solid #999;
  border-radius: 10px;
  padding: 10px;
  height: 72.5%;
}

.timerLabel{
  width:100%;
  max-width:100%;
}

#timeSegment{
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-size:1rem;
  line-height: 1.5;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
#timeDigits{
  font-family: 'Share Tech Mono', monospace;
  font-size:1.8rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;

  max-width:60px;
  padding:.375rem 5px;
}


input.pauseTimer.btn.btn-warning {
  padding: 7px 6px;
}


.ql-toolbar.ql-snow + .ql-container.ql-snow{
  height:20vw;
}

.ql-container.ql-snow{
  border:none!Important;
}

.ql-toolbar.ql-snow{
  border:none!Important;
  border-bottom:2px solid #999!Important;
}


/* --------------------------------- Appointments -------------------------------*/

#headingApt{
padding-left:4vw;
}

#colleagues, #times{
  width:100%;
  height:calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  border-radius:.25rem;
}

.appointmentForm label{
  width:100%;
}

#time{
  width:38%;
  height:calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  border-radius:.25rem;
}
#dateTime{
width:60%;
  height:calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  border-radius:.25rem;
  outline-style: none;
}


.form-group{
background-color:rgba(48, 48, 48, 0.664);
margin-bottom:40px!Important;
padding:20px;
border-radius:15px;
}
.btn-group{
  margin-top:30px;
 
}

/* .check{
  cursor: not-allowed;
  pointer-events: none;
} */

.form-group input[type="radio"] {
  -webkit-appearance: none;
  box-sizing: none;
  border-radius:5px;
  border: none;
  width: 4.2vw;
  height: 4.2vw;
}

.form-group .radio{
 
  text-align: center;
}

 .radio{
   width:100%;
  max-width:8vw;
  font-size: 1.2vw;
}

.radioContainer{
  display:flex;
  align-content: center;
  justify-content: center;
}

#retailSales {
  background-image: url('../images/ows-sprite72.png');
  background-position:-8.5vw -88.6vw;
  background-size: 68vw 40vw;
  transform:scale(1);
}
#repairs {
  background-image: url('../images/ows-sprite72.png');
  background-position:-4.3vw -88.6vw;
  background-size: 68vw 40vw;
  transform:scale(1);
}
#busSales {
  background-image: url('../images/ows-sprite72.png');
  background-position:-21.25vw -88.6vw;
  background-size: 68vw 40vw;
  transform:scale(1);
}

.form-group input[type="radio"]:checked{
  background-color:rgb(177, 177, 177);
}

.form-group input[type="radio"]:focus{
  outline-style: none;
}

/* #noteApt{
width: 100%;
height: 16vw;

border-radius: 1vw;

} */
.appointmentTwo{
height:auto;
padding:none!Important;
}

 .row{
  margin-right:0px!Important;
  margin-left:0px!Important;
}

.appointmentView{
  width:40.00%;
 
  
  }
  .appForm2{
  background-color:rgba(48, 48, 48, 0.664);
  padding:10px;
  border-radius: 15px ;
}

.bookAtt{
  width:60.00% !Important;
  padding: 0 0vw 0 4vw;
  
}

.twoC.bookAtt{
  padding-left:20px;
}


.true,.false {
  padding: 0px 10px;
   border-radius: 5px;
  text-transform: uppercase;
}
.true{
  background-color: #28a745;
}

.false {
  background-color: #a72828;
}


/* -------------------Error Page--------------------------- */
#errorPgContainer{
  padding:3vw;
}
#goBack{
  float:right;
  margin-right:40px;
}
#preErrorPg{
  padding:20px;
  max-width:100%;
  font-size: .7rem;
}

#imgContainer{
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
}

#errorImg{
  width: 300px;
  opacity: 40%;
  position: absolute;
  height: 130%;
}
/* -------------------Error Page End----------------------- */


@media only screen and (max-width: 600px) {

  body{
background-color:#595959;
background: linear-gradient(0deg, rgb(255, 42, 42) 0%, rgba(217,217,217,1) 53%, rgba(255,255,255,1) 100%);
font-family:helvetica;
margin:0;
}

#bodyContainer{
margin:5vh 5vw 5vh 5vw;
height:90vh;
overflow-y: scroll;
width: calc(100% - 10vw);
}

#bodyContainer::-webkit-scrollbar {
  display: none;
}

/* -----------------------Login page----------------------- */
#siteLogo{
 position: unset; 
 margin:0 0 0 0;
 width:30vw;
 height:30vw;
 float:unset;
}

#loginCon{
  width:100%;
  height:100%;
 align-content: center; 
 padding:25vh 0 0 0;
 margin :10vw 0 0 0 ;
 text-align:center;
 box-sizing: content-box;
}

#loginCon h1{
  font-size: 5vw;
  text-align:center;
  padding: 0 20vw 0 20vw;

}
.infoReq{
  text-align:center;
  padding: 5vw 30vw 5vw 30vw;
  font-size: 3vw;
}

#loginCon form{
  height:15vw;
  align-content: center;
  display: inline-block;
}

#loginCon .login{
  align-content:center;
  padding:2vw 8vw;
  border-radius:3vw;
  font-size: 5vw;
}
.signOut{
  top:0px;
}

/* -----------------------Login Page End----------------------- */

/* -----------------------Home Page----------------------- */


.one {
  margin-top:7vw;
  padding: 0 4vw 0vw 4vw;
 
  
}

.oneA{
  padding: .5rem 1rem;
  vertical-align: center;
  width:38%;
}

.oneC{
  width:62%;
}

#greeting h1{
 font-size: 1.5rem;
}
#greeting h3{
  font-size: .75rem;
 }

.menu-label{
  display:contents;
}

.navbar{
  padding: 0;
}
.navbar-nav .show{
  flex-direction: row;
}

.navbar-light .navbar-toggler {
  border:none;
}

.two{
  height:100%;
}

.home2A{
  width:100%;
  margin:0 4vw;
  display:flex;
}

.square{
  width: 10.2vw;
  height: 10.2vw;
  border-radius: 5px;
}
#navlist li {
  height: 7.2vw;
  width: 7.2vw;
}

#calendar,#appointments, #notes,#home-note,#home-cal, #home-app{
background-size: 105vw 70vw;
}
#calendar{
background-position: -6.3vw 0;
}
#appointments{
  background-position: -0.0vw 0;
}
#notes{
  background-position: -12.3vw 0;
}
#home-note{
  background-position: -0.0vw -15vw;
}
#home-cal{
  background-position: -0.0vw -15vw;;
}
#home-app{
  background-position: -0.0vw -15vw;;
}

.nav-item,.nav-link{
  padding: 30px 0 ;
}


.home2B, .home2C{
  width:100%;
  
}
#boxContainer{
  width:50%;
}

div.box1{
  width:35vw;
  height:35vw;
  border-radius:3.8vw;
 
}
#box1Text{
  font-size: .5rem;
}

.box1{
  background-position: -81.5vw -45.4vw;
  background-size: 450vw 240vw;
  transform: scale(1);
}

.box2{
  display: none;
}

#toolBox{
  display: none;
}

#toolBox2{
 width:50%;
}

div.longB1,div.shortB2, div.shortB3, div.shortB4{
  width: 16.3vw;
  height: 16.3vw;
  margin: 0vw 0vw 2vw 2vw;
  border-radius: 3vw;

  background-size: 241vw 133vw;
    transform: scale(1);
}

.longB1{
background-position: -89.2vw -27.3vw;
}
.shortB2{
  background-position: -29.2vw -27.3vw;
}
.shortB3{
  background-position: -14.2vw -27.3vw;
}
.shortB4{
  background-position: -59.2vw -27.3vw;
}


 div.oneB{
   width:0px;
 }

.three{
  padding: 0 0vw 8vw 4vw;
}

.totalsL{
  margin: 0 4vw;
  font-size: .75rem;
}

.graphContainer1{
  width:unset;
  margin: 0 4vw;
}

#dayLabels{
  padding: 0 10vw;
  font-size: .5rem;
}

.home2C.graph2{
  width:100%;
  margin: 0 5vw 0 5vw;
}

#graph1, #graph2{
  background-color: rgb(87, 87, 87);
  border-radius: 1vw;
}

#dayTime{
  font-size: .5rem;
}

#graphNav{
  padding:0 24vw;
  height: 6.5vw;
}

.hourPre, .hourNxt{
  width:4vw;
  height: 75%;
  margin: 5% 0;
}


#greeting{
margin-top:0px;
}

 
#info1, #info2 {
  height: 100%;
  
}

.flag{
  height: 5vw;
  width: 5vw;
  border-radius: 1.5vw;
}

div.heading{
  height:100%;
  margin-bottom:0px;
  margin-left: 7vw;
  top:-6vw;
}

div.blurb{
  font-size: .75rem;
  height:13.5vw;
  margin: 0 2vw 0 2vw
}
div.threeA, div.threeB, div.threeC{
  width:100%;
  height:22%;
 
}

.threeA{
  padding:0vw 8vw 0vw 4vw;
  margin-top:15px;
}
.threeB{
  padding:0vw 8vw 0vw 4vw;
  margin-top:15px;
}

.threeC{
  padding-left:4vw;
  margin-top:15px;
}

div#info1 {
  padding:10px;
  background-color: rgba(150,150,150,.4);
  border-radius: 10px;
  
}
div#info2 {
  padding:5px;
  background-color: rgba(150,150,150,.4);
  border-radius: 10px;
  
}
div.bannerBox{
  width: 40vw;
  height: 4.6vw;
}
.spriteF, .spriteFs{
  width: 4.4vw;
  height: 4.7vw;
  background: url(../images/ows-sprite72.png) -36.8vw -2.8vw;
    background-size: 180vw 100vw;
}
.box1C div.spriteFs{
  margin:1vw 2vw;
}

  #textB4, #textB3{
  height: 100%;
  margin: 0vw 4vw 0 4vw;
}

div.box1C{
  width:35vw;
  height:35vw;
  font-size:1.2vh;
  margin-right:6%;
  border-radius:3.8vw;
}

div.box2C{
  height:35vw;
  width:42vw;
  font-size:1.2vh;
  border-radius: 3.8vw 0 0 3.8vw;
}
/* -----------------------Home Page End----------------------- */



/* -----------------------Calendar Page Start----------------------- */
  .calendarView, .twoC.todayView{
    width:100%;
    margin: 0px;
  }
  .weekdays{
    text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5vw 0 1.5vw;
  vertical-align: bottom;
  }

  .days li{
    height: 8vw;
  }

  #todayLabel{
    width:100%;
    font-size:0px;
    padding:10px 0;
    height:0px;
  }

  #todayList{
    margin-right:0px;
    padding:10px;

  }
/* -----------------------Calendar Page End----------------------- */


/* -----------------------Appointments Page Start----------------------- */
.appointmentView{
  width:100%;
}

.appointmentForm label{
  width:auto;
}

.form-group input[type="radio"]{
  width:10.2vw;
  height:10.2vw;
 
}

.form-group{
  margin-bottom: 10px!Important;
}
#retailSales, #repairs, #busSales{
  background-size:146vw 94vw;
}

.Atype, .schF, .schB, .schTime, .schLen{
  display: block;
  text-align: center;
  padding: 5px 0px;
  border-radius: 1.5vw;
  margin:0 20px 10px 20px;
  background-color: rgb(145, 145, 145);
}

.form-group select{
  margin-bottom:15px;
}

.radio{
  width:100%;
  max-width: 8.5em;
  vertical-align: top;
  font-size: .7rem;

}

label.radio.rSales,label.radio.repairs,label.radio.bSales{
  width:100%;
}
#retailSales{
background-position:-17.7vw -20.1vw ;
}
#repairs{
  background-position:-8.7vw -20.1vw ;
} 
#busSales{
  background-position:-44.9vw -20.3vw ;
}


.btn-group{
  margin-top:10px;
}

#colleagues, #schBy, #times{
  max-width:90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#time{
  max-width: 50%;
  margin-left: 5%;
  display: inline-block;
  margin-right: 1%;
}

#dateTime{
  max-width: 50%;
  margin-right: auto;
  display: inline-block;
}


.twoC.bookAtt {
    padding-left: 0px;
}
.bookAtt {
    width: 100% !Important;
    padding: 0 0vw 0 0vw;
}


  /* -----------------------Appoinments Page End----------------------- */
}